@charset "UTF-8";

body {
    height: 100%;
}

.img {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-image:
        url('https://img.freepik.com/premium-photo/yellow-adhesive-paper-tape-isolated-on-white-background_293060-6374.jpg?w=2000');
    background-size: 270px 100px;
    width: 270px;
    height: 100px;
}

#img {
    margin-top: 10px;
}

h1 {
    font-size: 30px;
    color: rgb(255, 87, 87);
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    font-family: 'Jua', sans-serif;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
}

.form {
    align-items: center;
    width: 450px;
    margin: 0 auto;
    padding: 0;
}

#frm {
    background-color: #f1e9d8;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#frm1 {
    background-color: #f1e9d8;
    padding: 10px;
    border-radius: 20px;
}

#frm ul {
    margin: 0 auto;
}

#frm1 ul {
    margin: 0 auto;
}

.form ul {
    list-style: none;
    padding: 0;
}

.form li {
    margin: 0 auto;
    width: 85%;
    padding: 10px;
    align-items: center;
}

li:last-child {
    width: 100%;
}

.updateDeleteBtn {
    margin: 0 auto;
}

label {
    font-family: 'Noto Sans KR', sans-serif;
    color: #3c2f13;
    float: left;
    text-align: right;
    width: 80px;
}

/* 버튼 */
.btn {
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 87, 87, 0.5);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    padding: 5px;
}

.btn1 {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 87, 87, 0.5);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    width: 200px;
    padding: 5px;
}

#update,
#delete,
#search {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(255, 87, 87, 0.5);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    display: inline-block;
    padding: 5px;
}


label {
    margin-right: 20px;
}

textarea {
    width: 185px;
    height: auto;
    padding: 1px 2px;
    color: #3c2f13 !important;
}

#storeImage,
#menuImage {
    width: 185px;
    font-size: 13px;
}

/* select */
#storeCategory,
#menuNameSelect {
    padding: 1px 2px;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    width: 185px;
    height: 30px;
    color: #3c2f13 !important;
}

/* for custom scrollbar for webkit browser*/
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}